header{
    display: flex;
    flex-direction: row;
}
.logo img{
height: 200px;
}
section{
    display: flex;
    flex-direction: column;
}
section img{
    height: 100px;
}
.puntuacion{
    display: flex;
    flex-direction: row;
}